@media (max-width: 800px){
	.s-message{
		padding-top: 25px;
		margin-bottom: -30px;
	}
}
@media (max-width: 699px){
	.s-message{
		margin-bottom: 20px;
	}
	.title{
		margin-bottom: 1rem;
	}
}
@media (max-width: 529px){
	html{
		font-size: 13px;
	}
	.title{
		margin-bottom: 0.5rem;
	}
	.btn{
		padding: 0.8em 1.5em;
	}
	.text{
		p + p{
			margin-top: 0.5em;
		}
	}
	.bubble{
		&--1{
			width: 12%;
			left: -3%;
			bottom: 10%;
			top: auto;
		}
		&--2{
			width: 8.5%;
			top: -2.7%;
		}
		&--3{
			width: 8%;
			right: 2%;
			top: auto;
			bottom: 13%;
		}
		&--4{
			width: 6.5%;
			right: 40.5%;
			bottom: 5%;
			top: auto;
		}
		&--5{
			width: 3.2%;
			right: 54%;
			bottom: 3.1%;
			top: auto;
		}
	}
	.s-message{
		padding-top: 15px;
		&__btn-block{
			margin-top: 20px;
			.btn{
				min-width: 170px;
			}
		}
	}
}
