html{
	height: 100%;
	font-size: 16px;
}
body{
	min-height: 100%;
	position:relative;
	margin: 0;
	padding-bottom: 15%;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	justify-content: center;
	-webkit-justify-content: center;
}

.title{
	font-size: 1.1rem;
	color: #63D0FF;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 1.8rem;
	margin-top: 0;
	font-weight: bold;
}

.bubble{
	position: absolute;
	&--1{
		width: 4%;
		left: -1%;
		top: 50%;
	}
	&--2{
		width: 2.5%;
		right: 4%;
		top: 7%;
	}
	&--3{
		width: 1%;
		right: 4%;
		top: 35%;
	}
	&--4{
		width: 2.5%;
		right: 1.5%;
		top: 60%;
	}
	&--5{
		width: 1.7%;
		right: 6%;
		top: 75%;
	}
}

.container{
	max-width: 730px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.link{
	color: #63D0FF;
	text-decoration: none;
	-webkit-transition: color 0.4s;
	-moz-transition: color 0.4s;
	-ms-transition: color 0.4s;
	-o-transition: color 0.4s;
	transition: color 0.4s;
	&:hover, &:focus{
		color: #498cb2;
	}
}

.btn{
	background: rgba(99,208,255,1);
	background: -moz-linear-gradient(left, rgba(99,208,255,1) 0%, rgba(139,220,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(99,208,255,1)), color-stop(100%, rgba(139,220,255,1)));
	background: -webkit-linear-gradient(left, rgba(99,208,255,1) 0%, rgba(139,220,255,1) 100%);
	background: -o-linear-gradient(left, rgba(99,208,255,1) 0%, rgba(139,220,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(99,208,255,1) 0%, rgba(139,220,255,1) 100%);
	background: linear-gradient(to right, rgba(99,208,255,1) 0%, rgba(139,220,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63d0ff', endColorstr='#8bdcff', GradientType=1 );
	text-decoration: none;
	color: #fff;
	padding: 1em 2em;
	border-radius: 0.8em;
	-webkit-border-radius: 0.8em;
	-moz-border-radius: 0.8em;
	display: inline-block;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	font-weight: 600;
	&:hover, &:active{
		background: rgba(124,216,255,1);
		background: -moz-linear-gradient(left, rgba(124,216,255,1) 0%, rgba(180,233,255,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(124,216,255,1)), color-stop(100%, rgba(180,233,255,1)));
		background: -webkit-linear-gradient(left, rgba(124,216,255,1) 0%, rgba(180,233,255,1) 100%);
		background: -o-linear-gradient(left, rgba(124,216,255,1) 0%, rgba(180,233,255,1) 100%);
		background: -ms-linear-gradient(left, rgba(124,216,255,1) 0%, rgba(180,233,255,1) 100%);
		background: linear-gradient(to right, rgba(124,216,255,1) 0%, rgba(180,233,255,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7cd8ff', endColorstr='#b4e9ff', GradientType=1 );
	}
}

.text{
	p{
		margin: 0;
		& + p{
			margin-top: 1em;
		}
	}
}

.s-message{
	padding-top: 50px;
	margin-bottom: -70px;
	&__btn-block{
		text-align: center;
		margin-top: 45px;
		.btn{
			min-width: 250px;
		}
	}
}

// FOOTER
.footer{
	padding-bottom: 15%;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: url(/images/footer-bg.svg) no-repeat center top / cover;
	&__human{
		position: absolute;
		bottom: 0;
		&--1{
			left: 10%;
			width: 26%;
		}
		&--2{
			right: 10%;
			width: 14%;
		}
	}
	&__leafs, &__leaf{
		position: absolute;
	}
	&__leafs{
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__leaf{
		&--1{
			top: 87%;
			width: 10%;
			left: 47%;
		}
		&--2{
			bottom: 10%;
			width: 4%;
			right: 3%;
		}
	}
}
